<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/recursos/style/style.css">
</head>
<body>
    <main>
        <form method="post" action="/CrearSecreto">
            <ul>
                <li>
                    <label for="secreto">Secreto:</label>
                </li>
                <li>
                    <input type="text" name="secreto" id="secreto" placeholder="Ingrese secreto">
                </li>
                <li class="derecha">
                    <button type="submit">Submit</button>
                </li>
            </ul>
        </form>
        <%if (secretos === 'S') {%>
            <article>
                <%for (var x in mensajes) {%>
                    <a href="/MuestraComentarios/<%=mensajes[x]._id%>"><%=mensajes[x].secreto%></a> -- <a href="/EliminarSecreto/<%=mensajes[x]._id%>">Eliminar</a> <br>
                <% } %>
            </article>
        <% } %>
    </main>
    <a href="/">Volver</a>
</body>
</html>